<nav class="navbar navbar-fixed-top">
  <div class="container-fluid top-padding-15 bottom-gutter-5">
    <div class="row">
      <div class="col-sm-9">
        <ul class="list-inline nav-list">
          <li style="width:180px;">
            <a class="nav-brand" id="nav-logo" href="https://www.hidive.com">
              <img src="https://d10xkldqejj5hr.cloudfront.net/content/images/HIDIVE_logo.svg" class="img-responsive" style="height:35px;max-width:none !important; font-size:18px;">
            </a>
          </li>
          <li>
            <a href="https://hidive.com/simulcasts" class="nav">Simulcasts</a>
          </li>
          <li>
            <a href="https://hidive.com/dubs" class="nav">Dubs</a>
          </li>
          <li>
            <a href="https://hidive.com/Series" class="nav">Series</a>
          </li>
          <li>
            <a href="https://hidive.com/Movies" class="nav">Movies</a>
          </li>
          <li>|</li>
          <li>
            <a href="https://hidive.com/oct-2017-release-schedule" class="nav">Scheudle</a>
          </li>        
          <li>
            <a href="https://hidive.com/Community" class="nav">Community</a>
          </li>  
          <li>
            <a href="https://shop.sentaifilmworks.com" class="nav">Shop</a>
          </li>
          <li>
            <a href="https://hidive.com/News" class="nav">News</a>
          </li>
        </ul>
      </div>
      <div class="col-sm-3">
        <div class="top-gutter-5">
          <div class="text-right">
            <ul class="list-inline nave-list" style="position:relative;">
              <li>
                <a href="gttps://hidive.com/account/signup" id="signUpNow" class="animated swing">Subscribe Now</a>
              </li>
              <li style="position:relative;">
                <a href="" id="search-button" class="animated swing"><span class="fa fa-search" style="font-size:2em;"></span></a>
              </li>
              <li>
                <div class="dropdown">
                  <a><span class="fa fa-user" style="font-size:2em;" title="My Account"></span></a>
                </div>
              </li>
              </ul>

          </div>
        </div>
      </div>
    </div>
  </div>

</nav>