<p *ngIf="!TitleRows"><em>Loading...</em></p> 
<div class="container logo-container">
  <img id="logo" styles="padding-top:2em;" src="https://d10xkldqejj5hr.cloudfront.net/slides/HIDIVE_HOMEcarousel_HelloLanguages_1250x500_v3.gif">
</div>
<div *ngFor="let row of TitleRows" class="container"> 
 <div class="{{row.Name}}" > 
   <h1>{{row.Name}}</h1> 
   <div class="slides"> 
       <carousel-component [arr]="row.Titles"></carousel-component> 
        
   </div> 
 </div> 
 <div id="page-help" style="display:block;">
   <a id="dynamic-help-button">
     <i class="fa fa-3x fa-question-circle"></i>
   </a>
 </div>
</div>
<footer class="tb-padding-10 overflow-auto">
  <div class="col-md-9">
    <ul class="list-inline">
        <li><a id="footerSignup" href="/account/signup">Sign Up</a></li>
        <li><a href="//help.hidive.com/" target="_blank">Help Center</a></li>
        <li><a href="/about">About Us</a></li>
        <li><a id="contactUs" href="javascript:void(0);">Contact Us</a></li>
        <li><a href="/careers">Careers</a></li>
        <li><a href="/privacy-policy">Privacy Policy</a></li>
        <li><a href="/terms-of-use">Terms of Use</a></li>
        <li>
            <a href="/news">Press</a>
        </li>
    </ul>
    <ul class="list-inline">
        <li>HIDIVE and the logos ™ and © HIDIVE, LLC.</li>
    </ul>
  </div>
  <div class="col-md-3 text-right">
      <a class="social-icons facebook2" id="facebook2_footer_anchor" href="//www.facebook.com/HIDIVEofficial" target="_blank"><i class="fa-facebook-official fa icon-1x"></i></a>
      <a class="social-icons twitter2" id="twitter2_footer_anchor" href="//www.twitter.com/HIDIVEofficial" target="_blank"><i class="fa-twitter fa icon-1x"></i></a>
      <a class="social-icons youtube2" id="youtube2_footer_anchor" href="//www.youtube.com/channel/UCeFzTMpr7ik6oU5MT_YAYzg" target="_blank"><i class="fa-youtube fa icon-1x"></i></a>
      <a class="social-icons instagram2" id="instagram2_footer_anchor" href="//www.instagram.com/HIDIVEofficial" target="_blank"><i class="fa-instagram fa icon-1x"></i></a>
  </div>
</footer>